* {
  box-sizing: border-box;
}
body {
  margin: 40px;
}
.error{
  color:red;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  background-color: #2196F3; 
  background: conic-gradient(#106738, #650a41);
}

.wrapper> div {
  border: 2px solid #1a9ae4;
  border-radius: 5px;
  padding: 20px;
  margin:20px;
  color: #fff;
  background-color: #07486d;
}
.wrapper> div {
  cursor:grab;
  text-align: center;
}

.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.gridBox:nth-child(even) {
  background-color: #31ad67;
  color: #000;
}


ul{
  list-style: none;
  display: flex;
  font-size: 16px;
}
ul li{
  margin:0 2px; 
  flex-direction: column;
}
ul li span{
  color:#fff;
  padding:5px;
  background-color: #4f0396;
  border:1px solid #3e0641;  
  border-radius: 10px;
}

.pagination-container{
  margin: 1%;
}
.pagintion-item{
  padding: 5px;
  border:1px solid #165385;
  margin:2px;
  border-radius: 0.5em;
  background-color: #1a9ae4;
  cursor:pointer;
}
.load{
  color:#fff;
  font-size: 2em;
}